# Vestwell Python Screener

If you have any questions or feel you are making assumptions, please record them in this notebook or in comments if you'd rather work in a `.py` file.  If you get stuck, try to explain in words how you would complete the task(s).

### Background

Vestwell provides a wide variety of investment choices to its users.  Participants in a retirement plan can choose between a pre-determined set of funds or they can choose their own custom set of funds from a list of choices.  Advisors can create their own models with a custom set of funds in which participants can choose to invest.  As a result, there are thousands of unique models on the Vestwell platform.  

One of Vestwell's partners has the same list of models in its database.  This partner will maintain an up-to-date list of funds for each model in their database.  For example, when a fund closes and is replaced by a new one, Vestwell's partner will update the model with the new fund in their database, but not in Vestwell's.  For this reason, Vestwell's database and our partner's database will get out of sync over time.  Unless, that is, you can build python script to reconcile the two databases.  We're rooting for you!

### The Data

Here's a high-level overview of the data.  We'll get into more details below as we dig in.

**Vestwell Data**

Each `program_id` has many `model_id`s.  Each `model_id` has many `symbol`s.

* model.csv:  Associations of programs to models.
* model_prop.csv:  Association of models to symbols.

**Partner Data**

Each `PLANID` has many `FUNDID`s.

* partner.csv:  Association of `PLANID` to `FUNDID` and `PLANINVCLOSEDATE`.  

**Some extra notes**

* The `FUNDID` in our partner's data is equivalent to `symbol` in Vestwell's data.  These are also referred to as "funds".
* The `PLANID` in our partner's data has information that is equivalent to the `program_id` in Vestwell's database (more details below in Step 2).
* The `PLANINVCLOSEDATE` in our partner's database is the date when a fund was closed.  If there isn't a date, then the fund has not been closed.
* Sometimes our partner has funds called either "Medicham" or "Electrike" which we ignore.

### Goal
The goal of this exercise is to compare Vestwell's data with our partner's data.  We want to figure out if Vestwell's model data is the same as our Partner's model data.  We consider our partner's database the source of truth since their database will remain updated if there are any changes to funds.  Here's specifically what we are asking:

1.  Do the list of funds for each `program_id` in Vestwell's database match the list of funds in our partner's database?  If there are any mismatches, what funds are missing from each database?   

For example, if Vestwell's database has funds A, B and C for a `program_id` and our partner's database has funds B, C, and D for the same `program_id` we would report that fund A is missing from our partner's database and that fund D is missing from our database.

2.  Are there any funds in Vestwell's database that have closed?  If so, what are they for each `program_id`?

For example, if our database has funds D, E, and F for a `program_id` and partner's database shows that fund D closed on 11/1/2019, then we would report that fund D has closed for that `program_id`.

Ideally, the output is in a form that can be passed to a Business Analyst to take action on.  For example, the output could look something like this:

| program_id | fund_missing_at_vw | fund_missing_at_partner | fund_closed |
|------------|---------------|--------------------|--------|
| 1          | None          | None               | None   |
| 2          | D, Z             | A                  | F   |
| 3          | F             | None               | F      |

## Table Schema

![Schema](data/Vestwell_challange.png)

## Step 0
Import any packages you'll need

In [352]:
import pandas as pd
import numpy as np
import math

## Step 1
Import `partner.csv`, `model.csv`, and `model_prop.csv`.

In [353]:
model = pd.read_csv('data/model_abridged.csv')
model.head()

   model_id  program_id
0        28           3
1        34           4
2        42           4
3        24           3
4        64           8

In [354]:
model_prop = pd.read_csv('data/model_props_abridged.csv')
model_prop.head()

   model_props_id  model_id                 symbol
0             541        80              Bulbasaur
1             542        80                Ivysaur
2             543        80               Venusaur
3             544        80  VenusaurMega Venusaur
4             545        80             Charmander

In [355]:
partner = pd.read_csv('data/partner_abridged.csv')
partner.head()

         PLANID PLANINVCLOSEDATE    FUNDID
0  VW0008000039           active  Medicham
1  VW0008000039           active  Arcanine
2  VW0008000039       11/01/2018  Clefairy
3  VW0008000039           active     Zubat
4  VW0008000039           active  Nidoking

In [356]:
partner.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445 entries, 0 to 444
Data columns (total 3 columns):
PLANID              445 non-null object
PLANINVCLOSEDATE    445 non-null object
FUNDID              445 non-null object
dtypes: object(3)
memory usage: 10.5+ KB

## Find Unique Columns in each table

### in Model table model_id is unique

In [357]:
#model.model_id looks like a unique key
model.model_id.value_counts()

336    1
74     1
83     1
82     1
81     1
80     1
335    1
347    1
333    1
332    1
75     1
73     1
62     1
72     1
71     1
326    1
69     1
68     1
67     1
66     1
65     1
64     1
84     1
85     1
86     1
87     1
106    1
105    1
104    1
103    1
      ..
374    1
378    1
379    1
113    1
112    1
111    1
223    1
352    1
100    1
151    1
328    1
19     1
329    1
278    1
334    1
349    1
18     1
163    1
162    1
161    1
160    1
159    1
158    1
157    1
156    1
155    1
154    1
153    1
152    1
282    1
Name: model_id, Length: 187, dtype: int64

### in model_prop table model_props_id is unique

In [358]:
#model.model_id looks like a unique key
model_prop.model_props_id.value_counts()

2525    1
1382    1
354     1
353     1
352     1
351     1
350     1
349     1
348     1
347     1
346     1
345     1
344     1
343     1
342     1
341     1
340     1
339     1
338     1
337     1
336     1
1381    1
1383    1
334     1
1384    1
1629    1
1884    1
1873    1
2738    1
1399    1
       ..
632     1
631     1
630     1
629     1
628     1
627     1
626     1
645     1
646     1
647     1
1659    1
2714    1
1630    1
2712    1
2711    1
2530    1
2709    1
2708    1
2707    1
2705    1
2542    1
1626    1
2703    1
2702    1
2701    1
2700    1
2699    1
2698    1
2697    1
1615    1
Name: model_props_id, Length: 729, dtype: int64

### Partner table does NOT have any unique columns

In [359]:
partner.FUNDID.value_counts()

Electrike                    18
Medicham                     12
CharizardMega Charizard X     9
Charmander                    9
CharizardMega Charizard Y     6
Bulbasaur                     6
Gastly                        6
Charmeleon                    6
BlastoiseMega Blastoise       6
Farfetch'd                    5
Magnemite                     5
Slowbro                       5
Blastoise                     5
VenusaurMega Venusaur         5
Rapidash                      5
Magikarp                      4
SlowbroMega Slowbro           4
Venusaur                      4
Growlithe                     4
Ponyta                        4
Doduo                         4
Slowpoke                      4
Squirtle                      4
Magneton                      4
Charizard                     4
Haunter                       4
Xatu                          3
Nidorino                      3
Raichu                        3
Geodude                       3
                             ..
Elekid                        1
Larvitar                      1
Grovyle                       1
Golbat                        1
Ledian                        1
Butterfree                    1
Hoppip                        1
Murkrow                       1
Skiploom                      1
Gloom                         1
Treecko                       1
Ditto                         1
Sunkern                       1
Remoraid                      1
Houndoom                      1
Ampharos                      1
Spinarak                      1
Lugia                         1
Gligar                        1
Carvanha                      1
Pinsir                        1
Lanturn                       1
Volbeat                       1
Forretress                    1
Typhlosion                    1
Suicune                       1
Igglybuff                     1
Ledyba                        1
Machoke                       1
Miltank                       1
Name: FUNDID, Length: 250, dtype: int64

In [360]:
partner.PLANID.value_counts()

VW0027000228    39
VW0009000188    36
VW0015000141    35
VW0008000039    31
VW0012000114    28
VW0030000255    26
VW0021000178    25
VW0013000121    25
VW0014000136    25
VW0020000173    24
VW0017000143    24
VW0029000243    22
VW0019000168    20
VW0016000137    19
VWPALL000076    18
VW0028000216    17
VW0024000187    16
VW0010000135    15
Name: PLANID, dtype: int64

## Step 2 - working with the `partner.csv` data
Extract the `program_id` from the `PLANID` column in the `partner` dataframe.  The `program_id` is the first four characters in `PLANID` after "VW".  It's usually an integer.  If instead of digits, those characters are equal to "PALL" then the `program_id` = 1.  Drop any other rows remaining that do not have four digits in the first four characters after "VW" in the `PLANID` column.

In [361]:
def get_plan(plan_id):
    if plan_id[2:6]=='PALL':
        return 1
    #need to remove leading zeros 00
    #try except will only return the int on 2:6 if its a number
    try:   
        return int(plan_id[2:6])
    #otherwise return nan to be dropped
    except:
        return np.nan

In [362]:
partner.head(10)

         PLANID PLANINVCLOSEDATE                     FUNDID
0  VW0008000039           active                   Medicham
1  VW0008000039           active                   Arcanine
2  VW0008000039       11/01/2018                   Clefairy
3  VW0008000039           active                      Zubat
4  VW0008000039           active                   Nidoking
5  VW0008000039           active                 Jigglypuff
6  VW0008000039           active  CharizardMega Charizard X
7  VW0008000039           active                  Electrike
8  VW0008000039           active                  Growlithe
9  VW0008000039           active                     Fearow

In [363]:
partner['partner_program_id'] = 0

In [364]:
partner.partner_program_id = partner.PLANID.apply(lambda x: get_plan(x))

In [365]:
#need to drop the NAN columns
partner.dropna(inplace=True)

In [366]:
partner.shape

(445, 4)

In [367]:
partner.head(10)

,PLANID,PLANINVCLOSEDATE,FUNDID,partner_program_id
0,VW0008000039,active,Medicham,8
1,VW0008000039,active,Arcanine,8
2,VW0008000039,11/01/2018,Clefairy,8
3,VW0008000039,active,Zubat,8
4,VW0008000039,active,Nidoking,8
5,VW0008000039,active,Jigglypuff,8
6,VW0008000039,active,CharizardMega Charizard X,8
7,VW0008000039,active,Electrike,8
8,VW0008000039,active,Growlithe,8
9,VW0008000039,active,Fearow,8

## Step 3
Check if the funds match for each `program_id`.  In `partner.csv` the funds are in the `FUNDID` column and for `model_prop.csv` the funds are in the `symbol` column.  If there are any mismatches, return a list of which funds are missing from each database for each `program_id`.

### Add model.program_id to model_prop table

In [368]:
model_prop['program_id']= np.nan

In [369]:
#function used to populate the program_id column
def get_program_id(dfx, model_id):
#     df.loc[5].at['B']
#     dfx.loc[model_id]
    return dfx.set_index('model_id').at[model_id,'program_id']

In [370]:
model_prop.program_id = model_prop.model_id.apply(lambda x: get_program_id(model, x))

In [371]:
#delete later
model_prop[model_prop.program_id==8]

     model_props_id  model_id                     symbol  program_id
33              284        53                   Raticate           8
34              285        54                    Spearow           8
35              286        55                     Fearow           8
36              287        56                      Ekans           8
37              288        57                      Arbok           8
38              289        58                    Pikachu           8
39              290        59                     Raichu           8
40              291        60                  Sandshrew           8
41              292        61                  Sandslash           8
42              293        62                   Nidorina           8
43              294        63                  Nidoqueen           8
44              295        64                   Nidorino           8
45              296        65                   Nidoking           8
46              297        65                   Clefairy           8
47              298        65                   Clefable           8
48              299        65  CharizardMega Charizard X           8
49              300        65                     Vulpix           8
50              301        65                  Ninetales           8
51              302        65                 Jigglypuff           8
52              303        65                 Wigglytuff           8
53              304        65                      Zubat           8
54              305        65                     Golbat           8
55              306        65                     Oddish           8
56              307        65                      Gloom           8
57              308        65                  Vileplume           8
108             309        65                   Primeape           8
109             310        65                  Growlithe           8
110             311        65                   Arcanine           8

In [372]:
#delete later
partner.head(40)

,PLANID,PLANINVCLOSEDATE,FUNDID,partner_program_id
0,VW0008000039,active,Medicham,8
1,VW0008000039,active,Arcanine,8
2,VW0008000039,11/01/2018,Clefairy,8
3,VW0008000039,active,Zubat,8
4,VW0008000039,active,Nidoking,8
5,VW0008000039,active,Jigglypuff,8
6,VW0008000039,active,CharizardMega Charizard X,8
7,VW0008000039,active,Electrike,8
8,VW0008000039,active,Growlithe,8
9,VW0008000039,active,Fearow,8
10,VW0008000039,active,Ekans,8
11,VW0008000039,active,Arbok,8
12,VW0008000039,active,Raichu,8
13,VW0008000039,active,Sandslash,8
14,VW0008000039,active,Nidoqueen,8
15,VW0008000039,active,Oddish,8
16,VW0008000039,active,Clefable,8
17,VW0008000039,active,Vileplume,8
18,VW0008000039,active,Carvanha,8
19,VW0008000039,active,Ninetales,8
20,VW0008000039,active,Primeape,8
21,VW0008000039,active,Vulpix,8
22,VW0008000039,active,Wigglytuff,8
23,VW0008000039,active,Golbat,8
24,VW0008000039,active,Gloom,8
25,VW0008000039,active,Raticate,8
26,VW0008000039,active,Spearow,8
27,VW0008000039,active,Pikachu,8
28,VW0008000039,active,Sandshrew,8
29,VW0008000039,active,Nidorina,8
30,VW0008000039,active,Nidorino,8
31,VW0009000188,active,Poliwag,9
32,VW0009000188,active,Geodude,9
33,VW0009000188,active,Zubat,9
34,VW0009000188,07/26/2019,Poliwhirl,9
35,VW0009000188,active,Golem,9
36,VW0009000188,active,Rapidash,9
37,VW0009000188,active,Slowbro,9
38,VW0009000188,active,Magnemite,9
39,VW0009000188,active,Charmander,9

In [373]:
combined_df = pd.merge(partner, model_prop,  how='outer', left_on=['FUNDID', 'partner_program_id'], 
                     right_on = ['symbol','program_id'])

In [374]:
combined_df

,PLANID,PLANINVCLOSEDATE,FUNDID,partner_program_id,model_props_id,model_id,symbol,program_id
0,VW0008000039,active,Medicham,8.0,NaN,NaN,NaN,NaN
1,VW0008000039,active,Arcanine,8.0,311.0,65.0,Arcanine,8.0
2,VW0008000039,11/01/2018,Clefairy,8.0,297.0,65.0,Clefairy,8.0
3,VW0008000039,active,Zubat,8.0,304.0,65.0,Zubat,8.0
4,VW0008000039,active,Nidoking,8.0,296.0,65.0,Nidoking,8.0
5,VW0008000039,active,Jigglypuff,8.0,302.0,65.0,Jigglypuff,8.0
6,VW0008000039,active,CharizardMega Charizard X,8.0,299.0,65.0,CharizardMega Charizard X,8.0
7,VW0008000039,active,Electrike,8.0,NaN,NaN,NaN,NaN
8,VW0008000039,active,Growlithe,8.0,310.0,65.0,Growlithe,8.0
9,VW0008000039,active,Fearow,8.0,286.0,55.0,Fearow,8.0
10,VW0008000039,active,Ekans,8.0,287.0,56.0,Ekans,8.0
11,VW0008000039,active,Arbok,8.0,288.0,57.0,Arbok,8.0
12,VW0008000039,active,Raichu,8.0,290.0,59.0,Raichu,8.0
13,VW0008000039,active,Sandslash,8.0,292.0,61.0,Sandslash,8.0
14,VW0008000039,active,Nidoqueen,8.0,294.0,63.0,Nidoqueen,8.0
15,VW0008000039,active,Oddish,8.0,306.0,65.0,Oddish,8.0
16,VW0008000039,active,Clefable,8.0,298.0,65.0,Clefable,8.0
17,VW0008000039,active,Vileplume,8.0,308.0,65.0,Vileplume,8.0
18,VW0008000039,active,Carvanha,8.0,NaN,NaN,NaN,NaN
19,VW0008000039,active,Ninetales,8.0,301.0,65.0,Ninetales,8.0
20,VW0008000039,active,Primeape,8.0,309.0,65.0,Primeape,8.0
21,VW0008000039,active,Vulpix,8.0,300.0,65.0,Vulpix,8.0
22,VW0008000039,active,Wigglytuff,8.0,303.0,65.0,Wigglytuff,8.0
23,VW0008000039,active,Golbat,8.0,305.0,65.0,Golbat,8.0
24,VW0008000039,active,Gloom,8.0,307.0,65.0,Gloom,8.0
25,VW0008000039,active,Raticate,8.0,284.0,53.0,Raticate,8.0
26,VW0008000039,active,Spearow,8.0,285.0,54.0,Spearow,8.0
27,VW0008000039,active,Pikachu,8.0,289.0,58.0,Pikachu,8.0
28,VW0008000039,active,Sandshrew,8.0,291.0,60.0,Sandshrew,8.0
29,VW0008000039,active,Nidorina,8.0,293.0,62.0,Nidorina,8.0
...,...,...,...,...,...,...,...,...
755,NaN,NaN,NaN,NaN,2712.0,353.0,Persian,29.0
756,NaN,NaN,NaN,NaN,2716.0,351.0,Persian,29.0
757,NaN,NaN,NaN,NaN,2723.0,352.0,Persian,29.0
758,NaN,NaN,NaN,NaN,2730.0,350.0,Persian,29.0
759,NaN,NaN,NaN,NaN,2700.0,348.0,Paras,29.0
760,NaN,NaN,NaN,NaN,2702.0,349.0,Paras,29.0
761,NaN,NaN,NaN,NaN,2709.0,353.0,Paras,29.0
762,NaN,NaN,NaN,NaN,2718.0,351.0,Paras,29.0
763,NaN,NaN,NaN,NaN,2726.0,352.0,Paras,29.0
764,NaN,NaN,NaN,NaN,2732.0,350.0,Paras,29.0
765,NaN,NaN,NaN,NaN,2738.0,355.0,Paras,29.0
766,NaN,NaN,NaN,NaN,2744.0,354.0,Paras,29.0
767,NaN,NaN,NaN,NaN,2750.0,356.0,Paras,29.0
768,NaN,NaN,NaN,NaN,2711.0,353.0,Phanpy,29.0
769,NaN,NaN,NaN,NaN,2719.0,351.0,Phanpy,29.0
770,NaN,NaN,NaN,NaN,2725.0,352.0,Phanpy,29.0
771,NaN,NaN,NaN,NaN,2733.0,350.0,Phanpy,29.0
772,NaN,NaN,NaN,NaN,2740.0,355.0,Phanpy,29.0
773,NaN,NaN,NaN,NaN,2747.0,354.0,Phanpy,29.0
774,NaN,NaN,NaN,NaN,2752.0,356.0,Phanpy,29.0
775,NaN,NaN,NaN,NaN,2734.0,350.0,Venonat,29.0
776,NaN,NaN,NaN,NaN,2741.0,355.0,Venonat,29.0
777,NaN,NaN,NaN,NaN,2748.0,354.0,Venonat,29.0
778,NaN,NaN,NaN,NaN,2751.0,356.0,Venonat,29.0
779,NaN,NaN,NaN,NaN,2742.0,355.0,Porygon2,29.0
780,NaN,NaN,NaN,NaN,2756.0,356.0,Porygon2,29.0
781,NaN,NaN,NaN,NaN,2749.0,354.0,Donphan,29.0
782,NaN,NaN,NaN,NaN,2755.0,356.0,Donphan,29.0
783,NaN,NaN,NaN,NaN,5215.0,336.0,SceptileMega Sceptile,27.0
784,NaN,NaN,NaN,NaN,16935.0,233.0,Shellder,22.0

### Drop Columns with "Medicham" or "Electrike"

In [375]:
dropindex = combined_df[combined_df['FUNDID'] == 'Medicham' ].index

In [376]:
#delete later
dropindex

Int64Index([0, 76, 91, 145, 223, 272, 305, 331, 347, 396, 443, 482], dtype='int64')

In [377]:
combined_df.drop(dropindex, inplace=True)

In [378]:
dropindex = combined_df[combined_df['FUNDID'] == 'Electrike' ].index

In [379]:
#delete later
dropindex

Int64Index([  7,  61,  88, 114, 131, 152, 185, 220, 229, 262, 295, 320, 342,
            372, 408, 430, 450, 500],
           dtype='int64')

In [380]:
combined_df.drop(dropindex, inplace=True)

### Make complete values in program_id column

In [381]:
def get_program_id_complete(dfx):
    if math.isnan(dfx['program_id']):
        return dfx['partner_program_id']
    else:
        return dfx['program_id']

In [382]:
combined_df.program_id = combined_df.apply(get_program_id_complete, axis = 1)

In [383]:
combined_df

,PLANID,PLANINVCLOSEDATE,FUNDID,partner_program_id,model_props_id,model_id,symbol,program_id
1,VW0008000039,active,Arcanine,8.0,311.0,65.0,Arcanine,8.0
2,VW0008000039,11/01/2018,Clefairy,8.0,297.0,65.0,Clefairy,8.0
3,VW0008000039,active,Zubat,8.0,304.0,65.0,Zubat,8.0
4,VW0008000039,active,Nidoking,8.0,296.0,65.0,Nidoking,8.0
5,VW0008000039,active,Jigglypuff,8.0,302.0,65.0,Jigglypuff,8.0
6,VW0008000039,active,CharizardMega Charizard X,8.0,299.0,65.0,CharizardMega Charizard X,8.0
8,VW0008000039,active,Growlithe,8.0,310.0,65.0,Growlithe,8.0
9,VW0008000039,active,Fearow,8.0,286.0,55.0,Fearow,8.0
10,VW0008000039,active,Ekans,8.0,287.0,56.0,Ekans,8.0
11,VW0008000039,active,Arbok,8.0,288.0,57.0,Arbok,8.0
12,VW0008000039,active,Raichu,8.0,290.0,59.0,Raichu,8.0
13,VW0008000039,active,Sandslash,8.0,292.0,61.0,Sandslash,8.0
14,VW0008000039,active,Nidoqueen,8.0,294.0,63.0,Nidoqueen,8.0
15,VW0008000039,active,Oddish,8.0,306.0,65.0,Oddish,8.0
16,VW0008000039,active,Clefable,8.0,298.0,65.0,Clefable,8.0
17,VW0008000039,active,Vileplume,8.0,308.0,65.0,Vileplume,8.0
18,VW0008000039,active,Carvanha,8.0,NaN,NaN,NaN,8.0
19,VW0008000039,active,Ninetales,8.0,301.0,65.0,Ninetales,8.0
20,VW0008000039,active,Primeape,8.0,309.0,65.0,Primeape,8.0
21,VW0008000039,active,Vulpix,8.0,300.0,65.0,Vulpix,8.0
22,VW0008000039,active,Wigglytuff,8.0,303.0,65.0,Wigglytuff,8.0
23,VW0008000039,active,Golbat,8.0,305.0,65.0,Golbat,8.0
24,VW0008000039,active,Gloom,8.0,307.0,65.0,Gloom,8.0
25,VW0008000039,active,Raticate,8.0,284.0,53.0,Raticate,8.0
26,VW0008000039,active,Spearow,8.0,285.0,54.0,Spearow,8.0
27,VW0008000039,active,Pikachu,8.0,289.0,58.0,Pikachu,8.0
28,VW0008000039,active,Sandshrew,8.0,291.0,60.0,Sandshrew,8.0
29,VW0008000039,active,Nidorina,8.0,293.0,62.0,Nidorina,8.0
30,VW0008000039,active,Nidorino,8.0,295.0,64.0,Nidorino,8.0
31,VW0009000188,active,Poliwag,9.0,312.0,75.0,Poliwag,9.0
...,...,...,...,...,...,...,...,...
755,NaN,NaN,NaN,NaN,2712.0,353.0,Persian,29.0
756,NaN,NaN,NaN,NaN,2716.0,351.0,Persian,29.0
757,NaN,NaN,NaN,NaN,2723.0,352.0,Persian,29.0
758,NaN,NaN,NaN,NaN,2730.0,350.0,Persian,29.0
759,NaN,NaN,NaN,NaN,2700.0,348.0,Paras,29.0
760,NaN,NaN,NaN,NaN,2702.0,349.0,Paras,29.0
761,NaN,NaN,NaN,NaN,2709.0,353.0,Paras,29.0
762,NaN,NaN,NaN,NaN,2718.0,351.0,Paras,29.0
763,NaN,NaN,NaN,NaN,2726.0,352.0,Paras,29.0
764,NaN,NaN,NaN,NaN,2732.0,350.0,Paras,29.0
765,NaN,NaN,NaN,NaN,2738.0,355.0,Paras,29.0
766,NaN,NaN,NaN,NaN,2744.0,354.0,Paras,29.0
767,NaN,NaN,NaN,NaN,2750.0,356.0,Paras,29.0
768,NaN,NaN,NaN,NaN,2711.0,353.0,Phanpy,29.0
769,NaN,NaN,NaN,NaN,2719.0,351.0,Phanpy,29.0
770,NaN,NaN,NaN,NaN,2725.0,352.0,Phanpy,29.0
771,NaN,NaN,NaN,NaN,2733.0,350.0,Phanpy,29.0
772,NaN,NaN,NaN,NaN,2740.0,355.0,Phanpy,29.0
773,NaN,NaN,NaN,NaN,2747.0,354.0,Phanpy,29.0
774,NaN,NaN,NaN,NaN,2752.0,356.0,Phanpy,29.0
775,NaN,NaN,NaN,NaN,2734.0,350.0,Venonat,29.0
776,NaN,NaN,NaN,NaN,2741.0,355.0,Venonat,29.0
777,NaN,NaN,NaN,NaN,2748.0,354.0,Venonat,29.0
778,NaN,NaN,NaN,NaN,2751.0,356.0,Venonat,29.0
779,NaN,NaN,NaN,NaN,2742.0,355.0,Porygon2,29.0
780,NaN,NaN,NaN,NaN,2756.0,356.0,Porygon2,29.0
781,NaN,NaN,NaN,NaN,2749.0,354.0,Donphan,29.0
782,NaN,NaN,NaN,NaN,2755.0,356.0,Donphan,29.0
783,NaN,NaN,NaN,NaN,5215.0,336.0,SceptileMega Sceptile,27.0
784,NaN,NaN,NaN,NaN,16935.0,233.0,Shellder,22.0

### Confirm no nan in program_id

In [384]:
combined_df.isna().sum()

PLANID                276
PLANINVCLOSEDATE      276
FUNDID                276
partner_program_id    276
model_props_id         26
model_id               26
symbol                 26
program_id              0
dtype: int64

In [385]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 755 entries, 1 to 784
Data columns (total 8 columns):
PLANID                479 non-null object
PLANINVCLOSEDATE      479 non-null object
FUNDID                479 non-null object
partner_program_id    479 non-null float64
model_props_id        729 non-null float64
model_id              729 non-null float64
symbol                729 non-null object
program_id            755 non-null float64
dtypes: float64(4), object(4)
memory usage: 53.1+ KB

In [386]:
#delete later
combined_df.FUNDID.value_counts()

Diglett                      20
CharizardMega Charizard X     9
Charmander                    9
Slowbro                       7
Rapidash                      7
Farfetch'd                    7
Magnemite                     7
BlastoiseMega Blastoise       6
Gastly                        6
CharizardMega Charizard Y     6
Charmeleon                    6
Bulbasaur                     6
SlowbroMega Slowbro           5
Doduo                         5
Slowpoke                      5
Blastoise                     5
Pikachu                       5
VenusaurMega Venusaur         5
Magneton                      5
Ponyta                        5
Charizard                     4
Raticate                      4
Sandshrew                     4
Nidorina                      4
Sandslash                     4
Growlithe                     4
Spearow                       4
Venusaur                      4
Raichu                        4
Magikarp                      4
                             ..
Staryu                        1
Electabuzz                    1
Minun                         1
Hoothoot                      1
Chinchou                      1
Cleffa                        1
Sceptile                      1
Spinarak                      1
Mew                           1
Lickitung                     1
Golbat                        1
Slowking                      1
Krabby                        1
Girafarig                     1
Kingler                       1
Mareep                        1
Ariados                       1
Quilava                       1
Ivysaur                       1
Kingdra                       1
Machop                        1
Grovyle                       1
MewtwoMega Mewtwo Y           1
Pineco                        1
Elekid                        1
Quagsire                      1
Crobat                        1
Togetic                       1
Octillery                     1
Rhyhorn                       1
Name: FUNDID, Length: 248, dtype: int64

### Make symbol and FUNDID cells into lists (WE MAY NOT NEED THIS)

In [341]:
# combined_df.FUNDID = combined_df.FUNDID.apply(lambda x: str(x).split())
# combined_df.symbol = combined_df.symbol.apply(lambda x: str(x).split())

In [387]:
combined_df

,PLANID,PLANINVCLOSEDATE,FUNDID,partner_program_id,model_props_id,model_id,symbol,program_id
1,VW0008000039,active,Arcanine,8.0,311.0,65.0,Arcanine,8.0
2,VW0008000039,11/01/2018,Clefairy,8.0,297.0,65.0,Clefairy,8.0
3,VW0008000039,active,Zubat,8.0,304.0,65.0,Zubat,8.0
4,VW0008000039,active,Nidoking,8.0,296.0,65.0,Nidoking,8.0
5,VW0008000039,active,Jigglypuff,8.0,302.0,65.0,Jigglypuff,8.0
6,VW0008000039,active,CharizardMega Charizard X,8.0,299.0,65.0,CharizardMega Charizard X,8.0
8,VW0008000039,active,Growlithe,8.0,310.0,65.0,Growlithe,8.0
9,VW0008000039,active,Fearow,8.0,286.0,55.0,Fearow,8.0
10,VW0008000039,active,Ekans,8.0,287.0,56.0,Ekans,8.0
11,VW0008000039,active,Arbok,8.0,288.0,57.0,Arbok,8.0
12,VW0008000039,active,Raichu,8.0,290.0,59.0,Raichu,8.0
13,VW0008000039,active,Sandslash,8.0,292.0,61.0,Sandslash,8.0
14,VW0008000039,active,Nidoqueen,8.0,294.0,63.0,Nidoqueen,8.0
15,VW0008000039,active,Oddish,8.0,306.0,65.0,Oddish,8.0
16,VW0008000039,active,Clefable,8.0,298.0,65.0,Clefable,8.0
17,VW0008000039,active,Vileplume,8.0,308.0,65.0,Vileplume,8.0
18,VW0008000039,active,Carvanha,8.0,NaN,NaN,NaN,8.0
19,VW0008000039,active,Ninetales,8.0,301.0,65.0,Ninetales,8.0
20,VW0008000039,active,Primeape,8.0,309.0,65.0,Primeape,8.0
21,VW0008000039,active,Vulpix,8.0,300.0,65.0,Vulpix,8.0
22,VW0008000039,active,Wigglytuff,8.0,303.0,65.0,Wigglytuff,8.0
23,VW0008000039,active,Golbat,8.0,305.0,65.0,Golbat,8.0
24,VW0008000039,active,Gloom,8.0,307.0,65.0,Gloom,8.0
25,VW0008000039,active,Raticate,8.0,284.0,53.0,Raticate,8.0
26,VW0008000039,active,Spearow,8.0,285.0,54.0,Spearow,8.0
27,VW0008000039,active,Pikachu,8.0,289.0,58.0,Pikachu,8.0
28,VW0008000039,active,Sandshrew,8.0,291.0,60.0,Sandshrew,8.0
29,VW0008000039,active,Nidorina,8.0,293.0,62.0,Nidorina,8.0
30,VW0008000039,active,Nidorino,8.0,295.0,64.0,Nidorino,8.0
31,VW0009000188,active,Poliwag,9.0,312.0,75.0,Poliwag,9.0
...,...,...,...,...,...,...,...,...
755,NaN,NaN,NaN,NaN,2712.0,353.0,Persian,29.0
756,NaN,NaN,NaN,NaN,2716.0,351.0,Persian,29.0
757,NaN,NaN,NaN,NaN,2723.0,352.0,Persian,29.0
758,NaN,NaN,NaN,NaN,2730.0,350.0,Persian,29.0
759,NaN,NaN,NaN,NaN,2700.0,348.0,Paras,29.0
760,NaN,NaN,NaN,NaN,2702.0,349.0,Paras,29.0
761,NaN,NaN,NaN,NaN,2709.0,353.0,Paras,29.0
762,NaN,NaN,NaN,NaN,2718.0,351.0,Paras,29.0
763,NaN,NaN,NaN,NaN,2726.0,352.0,Paras,29.0
764,NaN,NaN,NaN,NaN,2732.0,350.0,Paras,29.0
765,NaN,NaN,NaN,NaN,2738.0,355.0,Paras,29.0
766,NaN,NaN,NaN,NaN,2744.0,354.0,Paras,29.0
767,NaN,NaN,NaN,NaN,2750.0,356.0,Paras,29.0
768,NaN,NaN,NaN,NaN,2711.0,353.0,Phanpy,29.0
769,NaN,NaN,NaN,NaN,2719.0,351.0,Phanpy,29.0
770,NaN,NaN,NaN,NaN,2725.0,352.0,Phanpy,29.0
771,NaN,NaN,NaN,NaN,2733.0,350.0,Phanpy,29.0
772,NaN,NaN,NaN,NaN,2740.0,355.0,Phanpy,29.0
773,NaN,NaN,NaN,NaN,2747.0,354.0,Phanpy,29.0
774,NaN,NaN,NaN,NaN,2752.0,356.0,Phanpy,29.0
775,NaN,NaN,NaN,NaN,2734.0,350.0,Venonat,29.0
776,NaN,NaN,NaN,NaN,2741.0,355.0,Venonat,29.0
777,NaN,NaN,NaN,NaN,2748.0,354.0,Venonat,29.0
778,NaN,NaN,NaN,NaN,2751.0,356.0,Venonat,29.0
779,NaN,NaN,NaN,NaN,2742.0,355.0,Porygon2,29.0
780,NaN,NaN,NaN,NaN,2756.0,356.0,Porygon2,29.0
781,NaN,NaN,NaN,NaN,2749.0,354.0,Donphan,29.0
782,NaN,NaN,NaN,NaN,2755.0,356.0,Donphan,29.0
783,NaN,NaN,NaN,NaN,5215.0,336.0,SceptileMega Sceptile,27.0
784,NaN,NaN,NaN,NaN,16935.0,233.0,Shellder,22.0

### Merge is somehow fucked

In [400]:
combined_df[combined_df.program_id==1]

,PLANID,PLANINVCLOSEDATE,FUNDID,partner_program_id,model_props_id,model_id,symbol,program_id
483,VWPALL000076,active,Hitmontop,1.0,1906.0,269.0,Hitmontop,1.0
484,VWPALL000076,active,Smoochum,1.0,1910.0,269.0,Smoochum,1.0
485,VWPALL000076,active,Diglett,1.0,1848.0,261.0,Diglett,1.0
486,VWPALL000076,active,Diglett,1.0,1856.0,262.0,Diglett,1.0
487,VWPALL000076,active,Diglett,1.0,1864.0,263.0,Diglett,1.0
488,VWPALL000076,active,Diglett,1.0,1907.0,269.0,Diglett,1.0
489,VWPALL000076,active,Diglett,1.0,1878.0,265.0,Diglett,1.0
490,VWPALL000076,active,Diglett,1.0,1885.0,266.0,Diglett,1.0
491,VWPALL000076,active,Diglett,1.0,1891.0,267.0,Diglett,1.0
492,VWPALL000076,active,Diglett,1.0,1897.0,268.0,Diglett,1.0
493,VWPALL000076,active,Diglett,1.0,1871.0,264.0,Diglett,1.0
494,VWPALL000076,active,Diglett,1.0,1841.0,260.0,Diglett,1.0
495,VWPALL000076,01/15/2019,MedichamMega Medicham,1.0,NaN,NaN,NaN,1.0
496,VWPALL000076,active,Gastly,1.0,1911.0,269.0,Gastly,1.0
497,VWPALL000076,active,Teddiursa,1.0,1901.0,269.0,Teddiursa,1.0
498,VWPALL000076,active,Meowth,1.0,1904.0,269.0,Meowth,1.0
499,VWPALL000076,active,Sneasel,1.0,1908.0,269.0,Sneasel,1.0
501,VWPALL000076,active,Xatu,1.0,1909.0,269.0,Xatu,1.0
502,VWPALL000076,active,Growlithe,1.0,1912.0,269.0,Growlithe,1.0
503,VWPALL000076,active,Torchic,1.0,29155.0,260.0,Torchic,1.0
504,VWPALL000076,09/27/2017,Manectric,1.0,NaN,NaN,NaN,1.0
505,VWPALL000076,active,ManectricMega Manectric,1.0,NaN,NaN,NaN,1.0
506,VWPALL000076,active,Smeargle,1.0,1903.0,269.0,Smeargle,1.0
507,VWPALL000076,active,Stantler,1.0,1902.0,269.0,Stantler,1.0
508,VWPALL000076,active,Tyrogue,1.0,1905.0,269.0,Tyrogue,1.0
669,NaN,NaN,NaN,NaN,1835.0,259.0,Paras,1.0
670,NaN,NaN,NaN,NaN,1860.0,262.0,Paras,1.0
671,NaN,NaN,NaN,NaN,1868.0,263.0,Paras,1.0
672,NaN,NaN,NaN,NaN,1882.0,265.0,Paras,1.0
673,NaN,NaN,NaN,NaN,1889.0,266.0,Paras,1.0
...,...,...,...,...,...,...,...,...
696,NaN,NaN,NaN,NaN,1894.0,267.0,Psyduck,1.0
697,NaN,NaN,NaN,NaN,1900.0,268.0,Psyduck,1.0
698,NaN,NaN,NaN,NaN,1874.0,264.0,Psyduck,1.0
699,NaN,NaN,NaN,NaN,1842.0,260.0,Psyduck,1.0
700,NaN,NaN,NaN,NaN,1854.0,261.0,Porygon2,1.0
701,NaN,NaN,NaN,NaN,1839.0,259.0,Porygon2,1.0
702,NaN,NaN,NaN,NaN,1847.0,261.0,Rattata,1.0
703,NaN,NaN,NaN,NaN,1855.0,262.0,Rattata,1.0
704,NaN,NaN,NaN,NaN,1863.0,263.0,Rattata,1.0
705,NaN,NaN,NaN,NaN,1877.0,265.0,Rattata,1.0
706,NaN,NaN,NaN,NaN,1884.0,266.0,Rattata,1.0
707,NaN,NaN,NaN,NaN,1890.0,267.0,Rattata,1.0
708,NaN,NaN,NaN,NaN,1896.0,268.0,Rattata,1.0
709,NaN,NaN,NaN,NaN,1870.0,264.0,Rattata,1.0
710,NaN,NaN,NaN,NaN,1840.0,260.0,Rattata,1.0
711,NaN,NaN,NaN,NaN,1849.0,261.0,Dugtrio,1.0
712,NaN,NaN,NaN,NaN,1857.0,262.0,Dugtrio,1.0
713,NaN,NaN,NaN,NaN,1865.0,263.0,Dugtrio,1.0
714,NaN,NaN,NaN,NaN,1879.0,265.0,Dugtrio,1.0
715,NaN,NaN,NaN,NaN,1886.0,266.0,Dugtrio,1.0
716,NaN,NaN,NaN,NaN,1892.0,267.0,Dugtrio,1.0
717,NaN,NaN,NaN,NaN,1898.0,268.0,Dugtrio,1.0
718,NaN,NaN,NaN,NaN,1872.0,264.0,Dugtrio,1.0
719,NaN,NaN,NaN,NaN,1858.0,262.0,Persian,1.0
720,NaN,NaN,NaN,NaN,1866.0,263.0,Persian,1.0
721,NaN,NaN,NaN,NaN,1880.0,265.0,Persian,1.0
722,NaN,NaN,NaN,NaN,1887.0,266.0,Persian,1.0
723,NaN,NaN,NaN,NaN,1893.0,267.0,Persian,1.0
724,NaN,NaN,NaN,NaN,1899.0,268.0,Persian,1.0
725,NaN,NaN,NaN,NaN,1873.0,264.0,Persian,1.0

### Group combined_df for analysis

In [401]:
combined_df.groupby(['program_id','FUNDID','symbol','PLANINVCLOSEDATE'])[['model_id']].sum()

                                                                                 model_id
program_id FUNDID                    symbol                    PLANINVCLOSEDATE
1.0        Diglett                   Diglett                   active              2645.0
           Gastly                    Gastly                    active               269.0
           Growlithe                 Growlithe                 active               269.0
           Hitmontop                 Hitmontop                 active               269.0
           Meowth                    Meowth                    active               269.0
           Smeargle                  Smeargle                  active               269.0
           Smoochum                  Smoochum                  active               269.0
           Sneasel                   Sneasel                   active               269.0
           Stantler                  Stantler                  active               269.0
           Teddiursa                 Teddiursa                 active               269.0
           Torchic                   Torchic                   active               260.0
           Tyrogue                   Tyrogue                   active               269.0
           Xatu                      Xatu                      active               269.0
8.0        Arbok                     Arbok                     active                57.0
           Arcanine                  Arcanine                  active                65.0
           CharizardMega Charizard X CharizardMega Charizard X active                65.0
           Clefable                  Clefable                  active                65.0
           Clefairy                  Clefairy                  11/01/2018            65.0
           Ekans                     Ekans                     active                56.0
           Fearow                    Fearow                    active                55.0
           Gloom                     Gloom                     active                65.0
           Golbat                    Golbat                    active                65.0
           Growlithe                 Growlithe                 active                65.0
           Jigglypuff                Jigglypuff                active                65.0
           Nidoking                  Nidoking                  active                65.0
           Nidoqueen                 Nidoqueen                 active                63.0
           Nidorina                  Nidorina                  active                62.0
           Nidorino                  Nidorino                  active                64.0
           Ninetales                 Ninetales                 active                65.0
           Oddish                    Oddish                    active                65.0
...                                                                                   ...
29.0       Smeargle                  Smeargle                  active               346.0
           Smoochum                  Smoochum                  active               346.0
           Sneasel                   Sneasel                   active               346.0
           Stantler                  Stantler                  active               346.0
           Teddiursa                 Teddiursa                 active               346.0
           Tyrogue                   Tyrogue                   active               346.0
           Xatu                      Xatu                      active               346.0
30.0       Arbok                     Arbok                     active               765.0
           Charmander                Charmander                active               387.0
           Ekans                     Ekans                     active               764.0
           Fearow                    Fearow                    active               763.0
           Grovyle                   Grovyle                   active               387.0
           Growlithe                 Growlithe                 active               387.0
           Haunter                   Haunter                   active               387.0
           Jigglypuff                Jigglypuff                active               387.0
           Nidoqueen                 Nidoqueen                 active               772.0
           Nidorina                  Nidorina                  active               771.0
           Nidorino                  Nidorino                  active               773.0
           Pikachu                   Pikachu                   active              1146.0
           Raichu                    Raichu                    active               768.0
           Raticate                  Raticate                  active               761.0
           Sandshrew                 Sandshrew                 active               769.0
           Sandslash                 Sandslash                 active               770.0
           Sceptile                  Sceptile                  active               387.0
           Spearow                   Spearow                   active               762.0
           Treecko                   Treecko                   active               387.0
           Venusaur                  Venusaur                  active               387.0
           Wigglytuff                Wigglytuff                active               387.0
           Wooper                    Wooper                    active               387.0
           Yanma                     Yanma                     active               387.0

[389 rows x 1 columns]

In [392]:
combined_df.groupby(['program_id','FUNDID','symbol','PLANINVCLOSEDATE'])[['model_id']].sum().unstack()

                                                               model_id  \
PLANINVCLOSEDATE                                                 active
program_id FUNDID                    symbol
1.0        Diglett                   Diglett                     2645.0
           Gastly                    Gastly                       269.0
           Growlithe                 Growlithe                    269.0
           Hitmontop                 Hitmontop                    269.0
           Meowth                    Meowth                       269.0
           Smeargle                  Smeargle                     269.0
           Smoochum                  Smoochum                     269.0
           Sneasel                   Sneasel                      269.0
           Stantler                  Stantler                     269.0
           Teddiursa                 Teddiursa                    269.0
           Torchic                   Torchic                      260.0
           Tyrogue                   Tyrogue                      269.0
           Xatu                      Xatu                         269.0
8.0        Growlithe                 Growlithe                     65.0
           Arbok                     Arbok                         57.0
           Arcanine                  Arcanine                      65.0
           CharizardMega Charizard X CharizardMega Charizard X     65.0
           Clefable                  Clefable                      65.0
           Clefairy                  Clefairy                       NaN
           Ekans                     Ekans                         56.0
           Fearow                    Fearow                        55.0
           Gloom                     Gloom                         65.0
           Golbat                    Golbat                        65.0
           Jigglypuff                Jigglypuff                    65.0
           Nidoking                  Nidoking                      65.0
           Nidoqueen                 Nidoqueen                     63.0
           Nidorina                  Nidorina                      62.0
           Nidorino                  Nidorino                      64.0
           Ninetales                 Ninetales                     65.0
           Oddish                    Oddish                        65.0
...                                                                 ...
29.0       Smeargle                  Smeargle                     346.0
           Smoochum                  Smoochum                     346.0
           Sneasel                   Sneasel                      346.0
           Stantler                  Stantler                     346.0
           Teddiursa                 Teddiursa                    346.0
           Tyrogue                   Tyrogue                      346.0
           Xatu                      Xatu                         346.0
30.0       Growlithe                 Growlithe                    387.0
           Arbok                     Arbok                        765.0
           Ekans                     Ekans                        764.0
           Fearow                    Fearow                       763.0
           Jigglypuff                Jigglypuff                   387.0
           Nidoqueen                 Nidoqueen                    772.0
           Nidorina                  Nidorina                     771.0
           Nidorino                  Nidorino                     773.0
           Pikachu                   Pikachu                     1146.0
           Raichu                    Raichu                       768.0
           Raticate                  Raticate                     761.0
           Sandshrew                 Sandshrew                    769.0
           Sandslash                 Sandslash                    770.0
           Spearow                   Spearow                      762.0
           Wigglytuff                Wigglytuff                   387.0
           Charmander                Charmander                   387.0
           Venusaur                  Venusaur                     387.0
           Haunter                   Haunter                      387.0
           Wooper                    Wooper                       387.0
           Yanma                     Yanma                        387.0
           Grovyle                   Grovyle                      387.0
           Sceptile                  Sceptile                     387.0
           Treecko                   Treecko                      387.0

                                                                           \
PLANINVCLOSEDATE                                               11/01/2018
program_id FUNDID                    symbol
1.0        Diglett                   Diglett                          NaN
           Gastly                    Gastly                           NaN
           Growlithe                 Growlithe                        NaN
           Hitmontop                 Hitmontop                        NaN
           Meowth                    Meowth                           NaN
           Smeargle                  Smeargle                         NaN
           Smoochum                  Smoochum                         NaN
           Sneasel                   Sneasel                          NaN
           Stantler                  Stantler                         NaN
           Teddiursa                 Teddiursa                        NaN
           Torchic                   Torchic                          NaN
           Tyrogue                   Tyrogue                          NaN
           Xatu                      Xatu                             NaN
8.0        Growlithe                 Growlithe                        NaN
           Arbok                     Arbok                            NaN
           Arcanine                  Arcanine                         NaN
           CharizardMega Charizard X CharizardMega Charizard X        NaN
           Clefable                  Clefable                         NaN
           Clefairy                  Clefairy                        65.0
           Ekans                     Ekans                            NaN
           Fearow                    Fearow                           NaN
           Gloom                     Gloom                            NaN
           Golbat                    Golbat                           NaN
           Jigglypuff                Jigglypuff                       NaN
           Nidoking                  Nidoking                         NaN
           Nidoqueen                 Nidoqueen                        NaN
           Nidorina                  Nidorina                         NaN
           Nidorino                  Nidorino                         NaN
           Ninetales                 Ninetales                        NaN
           Oddish                    Oddish                           NaN
...                                                                   ...
29.0       Smeargle                  Smeargle                         NaN
           Smoochum                  Smoochum                         NaN
           Sneasel                   Sneasel                          NaN
           Stantler                  Stantler                         NaN
           Teddiursa                 Teddiursa                        NaN
           Tyrogue                   Tyrogue                          NaN
           Xatu                      Xatu                             NaN
30.0       Growlithe                 Growlithe                        NaN
           Arbok                     Arbok                            NaN
           Ekans                     Ekans                            NaN
           Fearow                    Fearow                           NaN
           Jigglypuff                Jigglypuff                       NaN
           Nidoqueen                 Nidoqueen                        NaN
           Nidorina                  Nidorina                         NaN
           Nidorino                  Nidorino                         NaN
           Pikachu                   Pikachu                          NaN
           Raichu                    Raichu                           NaN
           Raticate                  Raticate                         NaN
           Sandshrew                 Sandshrew                        NaN
           Sandslash                 Sandslash                        NaN
           Spearow                   Spearow                          NaN
           Wigglytuff                Wigglytuff                       NaN
           Charmander                Charmander                       NaN
           Venusaur                  Venusaur                         NaN
           Haunter                   Haunter                          NaN
           Wooper                    Wooper                           NaN
           Yanma                     Yanma                            NaN
           Grovyle                   Grovyle                          NaN
           Sceptile                  Sceptile                         NaN
           Treecko                   Treecko                          NaN

                                                                           \
PLANINVCLOSEDATE                                               07/26/2019
program_id FUNDID                    symbol
1.0        Diglett                   Diglett                          NaN
           Gastly                    Gastly                           NaN
           Growlithe                 Growlithe                        NaN
           Hitmontop                 Hitmontop                        NaN
           Meowth                    Meowth                           NaN
           Smeargle                  Smeargle                         NaN
           Smoochum                  Smoochum                         NaN
           Sneasel                   Sneasel                          NaN
           Stantler                  Stantler                         NaN
           Teddiursa                 Teddiursa                        NaN
           Torchic                   Torchic                          NaN
           Tyrogue                   Tyrogue                          NaN
           Xatu                      Xatu                             NaN
8.0        Growlithe                 Growlithe                        NaN
           Arbok                     Arbok                            NaN
           Arcanine                  Arcanine                         NaN
           CharizardMega Charizard X CharizardMega Charizard X        NaN
           Clefable                  Clefable                         NaN
           Clefairy                  Clefairy                         NaN
           Ekans                     Ekans                            NaN
           Fearow                    Fearow                           NaN
           Gloom                     Gloom                            NaN
           Golbat                    Golbat                           NaN
           Jigglypuff                Jigglypuff                       NaN
           Nidoking                  Nidoking                         NaN
           Nidoqueen                 Nidoqueen                        NaN
           Nidorina                  Nidorina                         NaN
           Nidorino                  Nidorino                         NaN
           Ninetales                 Ninetales                        NaN
           Oddish                    Oddish                           NaN
...                                                                   ...
29.0       Smeargle                  Smeargle                         NaN
           Smoochum                  Smoochum                         NaN
           Sneasel                   Sneasel                          NaN
           Stantler                  Stantler                         NaN
           Teddiursa                 Teddiursa                        NaN
           Tyrogue                   Tyrogue                          NaN
           Xatu                      Xatu                             NaN
30.0       Growlithe                 Growlithe                        NaN
           Arbok                     Arbok                            NaN
           Ekans                     Ekans                            NaN
           Fearow                    Fearow                           NaN
           Jigglypuff                Jigglypuff                       NaN
           Nidoqueen                 Nidoqueen                        NaN
           Nidorina                  Nidorina                         NaN
           Nidorino                  Nidorino                         NaN
           Pikachu                   Pikachu                          NaN
           Raichu                    Raichu                           NaN
           Raticate                  Raticate                         NaN
           Sandshrew                 Sandshrew                        NaN
           Sandslash                 Sandslash                        NaN
           Spearow                   Spearow                          NaN
           Wigglytuff                Wigglytuff                       NaN
           Charmander                Charmander                       NaN
           Venusaur                  Venusaur                         NaN
           Haunter                   Haunter                          NaN
           Wooper                    Wooper                           NaN
           Yanma                     Yanma                            NaN
           Grovyle                   Grovyle                          NaN
           Sceptile                  Sceptile                         NaN
           Treecko                   Treecko                          NaN

                                                                           \
PLANINVCLOSEDATE                                               10/31/2018
program_id FUNDID                    symbol
1.0        Diglett                   Diglett                          NaN
           Gastly                    Gastly                           NaN
           Growlithe                 Growlithe                        NaN
           Hitmontop                 Hitmontop                        NaN
           Meowth                    Meowth                           NaN
           Smeargle                  Smeargle                         NaN
           Smoochum                  Smoochum                         NaN
           Sneasel                   Sneasel                          NaN
           Stantler                  Stantler                         NaN
           Teddiursa                 Teddiursa                        NaN
           Torchic                   Torchic                          NaN
           Tyrogue                   Tyrogue                          NaN
           Xatu                      Xatu                             NaN
8.0        Growlithe                 Growlithe                        NaN
           Arbok                     Arbok                            NaN
           Arcanine                  Arcanine                         NaN
           CharizardMega Charizard X CharizardMega Charizard X        NaN
           Clefable                  Clefable                         NaN
           Clefairy                  Clefairy                         NaN
           Ekans                     Ekans                            NaN
           Fearow                    Fearow                           NaN
           Gloom                     Gloom                            NaN
           Golbat                    Golbat                           NaN
           Jigglypuff                Jigglypuff                       NaN
           Nidoking                  Nidoking                         NaN
           Nidoqueen                 Nidoqueen                        NaN
           Nidorina                  Nidorina                         NaN
           Nidorino                  Nidorino                         NaN
           Ninetales                 Ninetales                        NaN
           Oddish                    Oddish                           NaN
...                                                                   ...
29.0       Smeargle                  Smeargle                         NaN
           Smoochum                  Smoochum                         NaN
           Sneasel                   Sneasel                          NaN
           Stantler                  Stantler                         NaN
           Teddiursa                 Teddiursa                        NaN
           Tyrogue                   Tyrogue                          NaN
           Xatu                      Xatu                             NaN
30.0       Growlithe                 Growlithe                        NaN
           Arbok                     Arbok                            NaN
           Ekans                     Ekans                            NaN
           Fearow                    Fearow                           NaN
           Jigglypuff                Jigglypuff                       NaN
           Nidoqueen                 Nidoqueen                        NaN
           Nidorina                  Nidorina                         NaN
           Nidorino                  Nidorino                         NaN
           Pikachu                   Pikachu                          NaN
           Raichu                    Raichu                           NaN
           Raticate                  Raticate                         NaN
           Sandshrew                 Sandshrew                        NaN
           Sandslash                 Sandslash                        NaN
           Spearow                   Spearow                          NaN
           Wigglytuff                Wigglytuff                       NaN
           Charmander                Charmander                       NaN
           Venusaur                  Venusaur                         NaN
           Haunter                   Haunter                          NaN
           Wooper                    Wooper                           NaN
           Yanma                     Yanma                            NaN
           Grovyle                   Grovyle                          NaN
           Sceptile                  Sceptile                         NaN
           Treecko                   Treecko                          NaN

                                                                           \
PLANINVCLOSEDATE                                               01/15/2019
program_id FUNDID                    symbol
1.0        Diglett                   Diglett                          NaN
           Gastly                    Gastly                           NaN
           Growlithe                 Growlithe                        NaN
           Hitmontop                 Hitmontop                        NaN
           Meowth                    Meowth                           NaN
           Smeargle                  Smeargle                         NaN
           Smoochum                  Smoochum                         NaN
           Sneasel                   Sneasel                          NaN
           Stantler                  Stantler                         NaN
           Teddiursa                 Teddiursa                        NaN
           Torchic                   Torchic                          NaN
           Tyrogue                   Tyrogue                          NaN
           Xatu                      Xatu                             NaN
8.0        Growlithe                 Growlithe                        NaN

### Now make ouput_df

In [196]:
output_df = pd.DataFrame(columns=['program_id', 'fund_missing_at_vw', 'fund_missing_at_partner', 'fund_closed'])

In [197]:
output_df

Empty DataFrame
Columns: [program_id, fund_missing_at_vw, fund_missing_at_partner, fund_closed]
Index: []

In [137]:
model_prop.groupby(["model_id",'model_props_id',"symbol"]).size().reset_index().rename(columns={0:'count'})

     model_id  model_props_id                 symbol  count
0          17             107               Caterpie      1
1          18             108                Metapod      1
2          19             109             Butterfree      1
3          20             110                 Weedle      1
4          21             111                 Kakuna      1
5          22             112               Beedrill      1
6          23             113  BeedrillMega Beedrill      1
7          24             114                 Pidgey      1
8          28             119               Caterpie      1
9          28             120                Metapod      1
10         28             121             Butterfree      1
11         28             122                 Weedle      1
12         28             123                 Kakuna      1
13         28             124               Beedrill      1
14         28             125  BeedrillMega Beedrill      1
15         28             126                 Pidgey      1
16         28             127              Pidgeotto      1
17         28             128                Pidgeot      1
18         28             129    PidgeotMega Pidgeot      1
19         29             157                Rattata      1
20         29             158                  Paras      1
21         29             159               Parasect      1
22         29             160                Venonat      1
23         29             161               Venomoth      1
24         30             162                  Paras      1
25         30             163               Parasect      1
26         30             164                Venonat      1
27         30             165               Venomoth      1
28         30             190                Diglett      1
29         30             192                Rattata      1
..        ...             ...                    ...    ...
699       380           16936                Pikachu      1
700       381            2918                 Raichu      1
701       382            2919              Sandshrew      1
702       383            2920              Sandslash      1
703       384            2921               Nidorina      1
704       385            2922              Nidoqueen      1
705       386            2923               Nidorino      1
706       387            2924              Growlithe      1
707       387            2925             Charmander      1
708       387            2926                 Wooper      1
709       387            2927                  Yanma      1
710       387            2928                Treecko      1
711       387            2929                Grovyle      1
712       387            2930             Jigglypuff      1
713       387            2931                Haunter      1
714       387            2932             Wigglytuff      1
715       387            2933               Venusaur      1
716       387            2934               Sceptile      1
717       387            2935               Raticate      1
718       387            2936                Spearow      1
719       387            2937                 Fearow      1
720       387            2938                  Ekans      1
721       387            2939                  Arbok      1
722       387            2940                Pikachu      1
723       387            2941                 Raichu      1
724       387            2942              Sandshrew      1
725       387            2943              Sandslash      1
726       387            2944               Nidorina      1
727       387            2945              Nidoqueen      1
728       387            2946               Nidorino      1

[729 rows x 4 columns]

In [141]:
model_prop[model_prop.model_id==28]

    model_props_id  model_id                 symbol
13             119        28               Caterpie
14             120        28                Metapod
15             121        28             Butterfree
16             122        28                 Weedle
17             123        28                 Kakuna
26             124        28               Beedrill
27             125        28  BeedrillMega Beedrill
28             126        28                 Pidgey
29             127        28              Pidgeotto
30             128        28                Pidgeot
31             129        28    PidgeotMega Pidgeot

In [136]:
# model_prop.groupby(["model_id",'model_props_id']).describe()

                        symbol
                         count unique                    top freq
model_id model_props_id
17       107                 1      1               Caterpie    1
18       108                 1      1                Metapod    1
19       109                 1      1             Butterfree    1
20       110                 1      1                 Weedle    1
21       111                 1      1                 Kakuna    1
22       112                 1      1               Beedrill    1
23       113                 1      1  BeedrillMega Beedrill    1
24       114                 1      1                 Pidgey    1
28       119                 1      1               Caterpie    1
         120                 1      1                Metapod    1
         121                 1      1             Butterfree    1
         122                 1      1                 Weedle    1
         123                 1      1                 Kakuna    1
         124                 1      1               Beedrill    1
         125                 1      1  BeedrillMega Beedrill    1
         126                 1      1                 Pidgey    1
         127                 1      1              Pidgeotto    1
         128                 1      1                Pidgeot    1
         129                 1      1    PidgeotMega Pidgeot    1
29       157                 1      1                Rattata    1
         158                 1      1                  Paras    1
         159                 1      1               Parasect    1
         160                 1      1                Venonat    1
         161                 1      1               Venomoth    1
30       162                 1      1                  Paras    1
         163                 1      1               Parasect    1
         164                 1      1                Venonat    1
         165                 1      1               Venomoth    1
         190                 1      1                Diglett    1
         192                 1      1                Rattata    1
...                        ...    ...                    ...  ...
380      16936               1      1                Pikachu    1
381      2918                1      1                 Raichu    1
382      2919                1      1              Sandshrew    1
383      2920                1      1              Sandslash    1
384      2921                1      1               Nidorina    1
385      2922                1      1              Nidoqueen    1
386      2923                1      1               Nidorino    1
387      2924                1      1              Growlithe    1
         2925                1      1             Charmander    1
         2926                1      1                 Wooper    1
         2927                1      1                  Yanma    1
         2928                1      1                Treecko    1
         2929                1      1                Grovyle    1
         2930                1      1             Jigglypuff    1
         2931                1      1                Haunter    1
         2932                1      1             Wigglytuff    1
         2933                1      1               Venusaur    1
         2934                1      1               Sceptile    1
         2935                1      1               Raticate    1
         2936                1      1                Spearow    1
         2937                1      1                 Fearow    1
         2938                1      1                  Ekans    1
         2939                1      1                  Arbok    1
         2940                1      1                Pikachu    1
         2941                1      1                 Raichu    1
         2942                1      1              Sandshrew    1
         2943                1      1              Sandslash    1
         2944                1      1               Nidorina    1
         2945                1      1              Nidoqueen    1
         2946                1      1               Nidorino    1

[729 rows x 4 columns]

In [124]:
model.join(model_prop, on='model_id')

ValueError: columns overlap but no suffix specified: Index(['model_id'], dtype='object')

# Step 4 - Check for any closed funds
Check each `program_id` to see if our partner has indicated a fund that is in Vestwell's `model` has been closed and add that to the output from Step 3.