# Vestwell Python Screener

If you have any questions or feel you are making assumptions, please record them in this notebook or in comments if you'd rather work in a `.py` file.  If you get stuck, try to explain in words how you would complete the task(s).

### Background

Vestwell provides a wide variety of investment choices to its users.  Participants in a retirement plan can choose between a pre-determined set of funds or they can choose their own custom set of funds from a list of choices.  Advisors can create their own models with a custom set of funds in which participants can choose to invest.  As a result, there are thousands of unique models on the Vestwell platform.  

One of Vestwell's partners has the same list of models in its database.  This partner will maintain an up-to-date list of funds for each model in their database.  For example, when a fund closes and is replaced by a new one, Vestwell's partner will update the model with the new fund in their database, but not in Vestwell's.  For this reason, Vestwell's database and our partner's database will get out of sync over time.  Unless, that is, you can build python script to reconcile the two databases.  We're rooting for you!

### The Data

Here's a high-level overview of the data.  We'll get into more details below as we dig in.

**Vestwell Data**

Each `program_id` has many `model_id`s.  Each `model_id` has many `symbol`s.

* model.csv:  Associations of programs to models.
* model_prop.csv:  Association of models to symbols.

**Partner Data**

Each `PLANID` has many `FUNDID`s.

* partner.csv:  Association of `PLANID` to `FUNDID` and `PLANINVCLOSEDATE`.  

**Some extra notes**

* The `FUNDID` in our partner's data is equivalent to `symbol` in Vestwell's data.  These are also referred to as "funds".
* The `PLANID` in our partner's data has information that is equivalent to the `program_id` in Vestwell's database (more details below in Step 2).
* The `PLANINVCLOSEDATE` in our partner's database is the date when a fund was closed.  If there isn't a date, then the fund has not been closed.
* Sometimes our partner has funds called either "Medicham" or "Electrike" which we ignore.

### Goal
The goal of this exercise is to compare Vestwell's data with our partner's data.  We want to figure out if Vestwell's model data is the same as our Partner's model data.  We consider our partner's database the source of truth since their database will remain updated if there are any changes to funds.  Here's specifically what we are asking:

1.  Do the list of funds for each `program_id` in Vestwell's database match the list of funds in our partner's database?  If there are any mismatches, what funds are missing from each database?   

For example, if Vestwell's database has funds A, B and C for a `program_id` and our partner's database has funds B, C, and D for the same `program_id` we would report that fund A is missing from our partner's database and that fund D is missing from our database.

2.  Are there any funds in Vestwell's database that have closed?  If so, what are they for each `program_id`?

For example, if our database has funds D, E, and F for a `program_id` and partner's database shows that fund D closed on 11/1/2019, then we would report that fund D has closed for that `program_id`.

Ideally, the output is in a form that can be passed to a Business Analyst to take action on.  For example, the output could look something like this:

| program_id | fund_missing_at_vw | fund_missing_at_partner | fund_closed |
|------------|---------------|--------------------|--------|
| 1          | None          | None               | None   |
| 2          | D, Z             | A                  | F   |
| 3          | F             | None               | F      |

## Table Schema

![Schema](data/Vestwell_challange.png)

## Step 0
Import any packages you'll need

In [58]:
import pandas as pd
import numpy as np

## Step 1
Import `partner.csv`, `model.csv`, and `model_prop.csv`.

In [44]:
model = pd.read_csv('data/model_abridged.csv')
model.head()

   model_id  program_id
0        28           3
1        34           4
2        42           4
3        24           3
4        64           8

In [45]:
model_prop = pd.read_csv('data/model_props_abridged.csv')
model_prop.head()

   model_props_id  model_id                 symbol
0             541        80              Bulbasaur
1             542        80                Ivysaur
2             543        80               Venusaur
3             544        80  VenusaurMega Venusaur
4             545        80             Charmander

In [46]:
partner = pd.read_csv('data/partner_abridged.csv')
partner.head()

         PLANID PLANINVCLOSEDATE    FUNDID
0  VW0008000039           active  Medicham
1  VW0008000039           active  Arcanine
2  VW0008000039       11/01/2018  Clefairy
3  VW0008000039           active     Zubat
4  VW0008000039           active  Nidoking

In [47]:
partner.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445 entries, 0 to 444
Data columns (total 3 columns):
PLANID              445 non-null object
PLANINVCLOSEDATE    445 non-null object
FUNDID              445 non-null object
dtypes: object(3)
memory usage: 10.5+ KB

## Find Unique Columns in each table

### in Model table model_id is unique

In [49]:
#model.model_id looks like a unique key
model.model_id.value_counts()

336    1
74     1
83     1
82     1
81     1
80     1
335    1
347    1
333    1
332    1
75     1
73     1
62     1
72     1
71     1
326    1
69     1
68     1
67     1
66     1
65     1
64     1
84     1
85     1
86     1
87     1
106    1
105    1
104    1
103    1
      ..
374    1
378    1
379    1
113    1
112    1
111    1
223    1
352    1
100    1
151    1
328    1
19     1
329    1
278    1
334    1
349    1
18     1
163    1
162    1
161    1
160    1
159    1
158    1
157    1
156    1
155    1
154    1
153    1
152    1
282    1
Name: model_id, Length: 187, dtype: int64

### in model_prop table model_props_id is unique

In [50]:
#model.model_id looks like a unique key
model_prop.model_props_id.value_counts()

2525    1
1382    1
354     1
353     1
352     1
351     1
350     1
349     1
348     1
347     1
346     1
345     1
344     1
343     1
342     1
341     1
340     1
339     1
338     1
337     1
336     1
1381    1
1383    1
334     1
1384    1
1629    1
1884    1
1873    1
2738    1
1399    1
       ..
632     1
631     1
630     1
629     1
628     1
627     1
626     1
645     1
646     1
647     1
1659    1
2714    1
1630    1
2712    1
2711    1
2530    1
2709    1
2708    1
2707    1
2705    1
2542    1
1626    1
2703    1
2702    1
2701    1
2700    1
2699    1
2698    1
2697    1
1615    1
Name: model_props_id, Length: 729, dtype: int64

### Partner table does NOT have any unique columns

In [53]:
partner.FUNDID.value_counts()

Electrike                    18
Medicham                     12
CharizardMega Charizard X     9
Charmander                    9
CharizardMega Charizard Y     6
Bulbasaur                     6
Gastly                        6
Charmeleon                    6
BlastoiseMega Blastoise       6
Farfetch'd                    5
Magnemite                     5
Slowbro                       5
Blastoise                     5
VenusaurMega Venusaur         5
Rapidash                      5
Magikarp                      4
SlowbroMega Slowbro           4
Venusaur                      4
Growlithe                     4
Ponyta                        4
Doduo                         4
Slowpoke                      4
Squirtle                      4
Magneton                      4
Charizard                     4
Haunter                       4
Xatu                          3
Nidorino                      3
Raichu                        3
Geodude                       3
                             ..
Elekid                        1
Larvitar                      1
Grovyle                       1
Golbat                        1
Ledian                        1
Butterfree                    1
Hoppip                        1
Murkrow                       1
Skiploom                      1
Gloom                         1
Treecko                       1
Ditto                         1
Sunkern                       1
Remoraid                      1
Houndoom                      1
Ampharos                      1
Spinarak                      1
Lugia                         1
Gligar                        1
Carvanha                      1
Pinsir                        1
Lanturn                       1
Volbeat                       1
Forretress                    1
Typhlosion                    1
Suicune                       1
Igglybuff                     1
Ledyba                        1
Machoke                       1
Miltank                       1
Name: FUNDID, Length: 250, dtype: int64

In [54]:
partner.PLANID.value_counts()

VW0027000228    39
VW0009000188    36
VW0015000141    35
VW0008000039    31
VW0012000114    28
VW0030000255    26
VW0021000178    25
VW0013000121    25
VW0014000136    25
VW0020000173    24
VW0017000143    24
VW0029000243    22
VW0019000168    20
VW0016000137    19
VWPALL000076    18
VW0028000216    17
VW0024000187    16
VW0010000135    15
Name: PLANID, dtype: int64

## Step 2 - working with the `partner.csv` data
Extract the `program_id` from the `PLANID` column in the `partner` dataframe.  The `program_id` is the first four characters in `PLANID` after "VW".  It's usually an integer.  If instead of digits, those characters are equal to "PALL" then the `program_id` = 1.  Drop any other rows remaining that do not have four digits in the first four characters after "VW" in the `PLANID` column.

In [121]:
def get_plan(plan_id):
    if plan_id[2:6]=='PALL':
        return 1
    #need to remove leading zeros 00
    #try except will only return the int on 2:6 if its a number
    try:   
        return int(plan_id[2:6])
    #otherwise return nan to be dropped
    except:
        return np.nan

In [88]:
partner.head(10)

         PLANID PLANINVCLOSEDATE                     FUNDID
0  VW0008000039           active                   Medicham
1  VW0008000039           active                   Arcanine
2  VW0008000039       11/01/2018                   Clefairy
3  VW0008000039           active                      Zubat
4  VW0008000039           active                   Nidoking
5  VW0008000039           active                 Jigglypuff
6  VW0008000039           active  CharizardMega Charizard X
7  VW0008000039           active                  Electrike
8  VW0008000039           active                  Growlithe
9  VW0008000039           active                     Fearow

In [89]:
partner['partner_program_id'] = 0

In [90]:
partner.head(10)

,PLANID,PLANINVCLOSEDATE,FUNDID,partner_program_id
0,VW0008000039,active,Medicham,0
1,VW0008000039,active,Arcanine,0
2,VW0008000039,11/01/2018,Clefairy,0
3,VW0008000039,active,Zubat,0
4,VW0008000039,active,Nidoking,0
5,VW0008000039,active,Jigglypuff,0
6,VW0008000039,active,CharizardMega Charizard X,0
7,VW0008000039,active,Electrike,0
8,VW0008000039,active,Growlithe,0
9,VW0008000039,active,Fearow,0

In [122]:
partner.partner_program_id = partner.PLANID.apply(lambda x: get_plan(x))

In [123]:
partner.head(10)

,PLANID,PLANINVCLOSEDATE,FUNDID,partner_program_id
0,VW0008000039,active,Medicham,8
1,VW0008000039,active,Arcanine,8
2,VW0008000039,11/01/2018,Clefairy,8
3,VW0008000039,active,Zubat,8
4,VW0008000039,active,Nidoking,8
5,VW0008000039,active,Jigglypuff,8
6,VW0008000039,active,CharizardMega Charizard X,8
7,VW0008000039,active,Electrike,8
8,VW0008000039,active,Growlithe,8
9,VW0008000039,active,Fearow,8

# Step 3
Check if the funds match for each `program_id`.  In `partner.csv` the funds are in the `FUNDID` column and for `model_prop.csv` the funds are in the `symbol` column.  If there are any mismatches, return a list of which funds are missing from each database for each `program_id`.

# Step 4 - Check for any closed funds
Check each `program_id` to see if our partner has indicated a fund that is in Vestwell's `model` has been closed and add that to the output from Step 3.